## Pandas: 1

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('services.csv')

In [3]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [4]:
df.shape

(23, 22)

In [5]:
type(df)

pandas.core.frame.DataFrame

#### Two data Types in Pandas:
    1. Series
    2. DataFrame

In [6]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [7]:
list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [8]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [9]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [10]:
df.head(10)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN

In [11]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [12]:
df['id']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
Name: id, dtype: int64

In [13]:
df['location_id']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    22
Name: location_id, dtype: int64

In [14]:
df['description']

0     A walk-in center for older adults that provide...
1     Provides training and job placement to eligibl...
2     Offers supportive counseling services to San M...
3     Provides supervised visitation services and a ...
4     Provides fixed 8% short term loans to eligible...
5     A multipurpose center offering a wide variety ...
6     Rosener House is a day center for older adults...
7     Delivers a hot meal to the home of persons age...
8     Provides general reading material, including b...
9     Provides general reading and media materials, ...
10    Provides general reading materials, including ...
11    Offers an intergenerational literacy program f...
12    Provides general reading materials, including ...
13    Provides food, clothing, bus tokens and shelte...
14    Provides a long-term (6-12 month) residential ...
15    Provides emergency assistance including food a...
16    Provides emergency food, clothing and furnitur...
17    By appointment only, Project Smile provides a ...
18    Provides free medical and dental care to those...
19                no unrequired fields for this service
20                                  just a test service
21    [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22    [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...
Name: description, dtype: object

In [15]:
type(df['description'])

pandas.core.series.Series

In [16]:
df[['location_id']]

    location_id
0             1
1             2
2             3
3             4
4             5
5             6
6             7
7             8
8             9
9            10
10           11
11           12
12           13
13           14
14           15
15           16
16           17
17           18
18           19
19           20
20           21
21           22
22           22

In [17]:
type(df[['location_id']])

pandas.core.frame.DataFrame

In [18]:
df[['status','description']]

      status                                        description
0     active  A walk-in center for older adults that provide...
1     active  Provides training and job placement to eligibl...
2     active  Offers supportive counseling services to San M...
3     active  Provides supervised visitation services and a ...
4     active  Provides fixed 8% short term loans to eligible...
5     active  A multipurpose center offering a wide variety ...
6     active  Rosener House is a day center for older adults...
7     active  Delivers a hot meal to the home of persons age...
8     active  Provides general reading material, including b...
9     active  Provides general reading and media materials, ...
10    active  Provides general reading materials, including ...
11    active  Offers an intergenerational literacy program f...
12    active  Provides general reading materials, including ...
13    active  Provides food, clothing, bus tokens and shelte...
14    active  Provides a long-term (6-12 month) residential ...
15    active  Provides emergency assistance including food a...
16    active  Provides emergency food, clothing and furnitur...
17    active  By appointment only, Project Smile provides a ...
18    active  Provides free medical and dental care to those...
19   defunct              no unrequired fields for this service
20  inactive                                just a test service
21    active  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22    active  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

In [19]:
df2=pd.read_excel('LUSID.xlsx')

In [20]:
df2.shape

(28, 10)

In [21]:
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df2.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [23]:
df2[['Unnamed: 7','Unnamed: 8']]

,Unnamed: 7,Unnamed: 8
0,NaN,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,NaN,NaN
5,NaN,NaN
6,NaN,NaN
7,NaN,NaN
8,NaN,NaN
9,NaN,NaN
10,NaN,NaN
11,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN
12,NaN,NaN
13,Additional formats,NaN
14,NaN,NaN
15,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z"""
16,NaN,NaN
17,Convert date into a string,2019-04-10T 13:30:45.55Z
18,NaN,NaN
19,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00
20,NaN,NaN
21,Cutlabel,2019-04-10NSingaporeClose
22,NaN,NaN
23,NaN,NaN
24,NaN,NaN
25,NaN,NaN
26,NaN,NaN
27,NaN,NaN

In [24]:
df3=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [25]:
df3.shape

(891, 12)

In [26]:
df3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
df3.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [28]:
df3[['Ticket', 'Fare']]

               Ticket     Fare
0           A/5 21171   7.2500
1            PC 17599  71.2833
2    STON/O2. 3101282   7.9250
3              113803  53.1000
4              373450   8.0500
..                ...      ...
886            211536  13.0000
887            112053  30.0000
888        W./C. 6607  23.4500
889            111369  30.0000
890            370376   7.7500

[891 rows x 2 columns]

#### Saving the Data Loaded from Link in the Local System

In [29]:
df3.to_csv('titanic_data.csv',index=False)

In [42]:
import lxml
url_data=pd.read_html('https://www.basketball-reference.com/leagues/NBA_2024.html')

In [43]:
url_data

[         Eastern Conference   W   L   W/L%    GB   PS/G   PA/G    SRS
 0       Boston Celtics* (1)  63  18  0.778     —  120.4  109.1  10.87
 1      Milwaukee Bucks* (2)  49  32  0.605  14.0  119.4  116.4   2.75
 2       New York Knicks (3)  49  32  0.605  14.0  112.7  108.1   4.43
 3   Cleveland Cavaliers (4)  48  33  0.593  15.0  112.7  110.1   2.25
 4         Orlando Magic (5)  46  35  0.568  17.0  110.4  108.7   1.18
 5        Indiana Pacers (6)  46  35  0.568  17.0  122.9  120.3   2.33
 6    Philadelphia 76ers (7)  46  35  0.568  17.0  114.7  111.9   2.34
 7            Miami Heat (8)  45  36  0.556  18.0  110.0  108.5   1.02
 8         Chicago Bulls (9)  39  42  0.481  24.0  112.2  113.6  -1.83
 9        Atlanta Hawks (10)  36  45  0.444  27.0  118.4  120.1  -1.94
 10       Brooklyn Nets (11)  32  49  0.395  31.0  110.7  113.3  -2.82
 11     Toronto Raptors (12)  25  56  0.309  38.0  112.5  118.8  -6.35
 12   Charlotte Hornets (13)  20  61  0.247  43.0  106.4  116.9 -10.38
 13  Washington Wizards (14)  15  66  0.185  48.0  113.6  122.9  -9.40
 14     Detroit Pistons (15)  14  67  0.173  49.0  110.1  118.9  -8.76,
              Western Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
 0    Oklahoma City Thunder* (1)  56  25  0.691     —  119.9  113.0  6.83
 1   Minnesota Timberwolves* (2)  56  25  0.691     —  113.1  106.3  6.65
 2           Denver Nuggets* (3)  56  25  0.691     —  114.7  109.6  5.18
 3     Los Angeles Clippers* (4)  51  30  0.630   5.0  115.8  112.3  3.56
 4         Dallas Mavericks* (5)  50  31  0.617   6.0  118.2  115.4  2.82
 5      New Orleans Pelicans (6)  49  32  0.605   7.0  115.2  110.5  4.68
 6              Phoenix Suns (7)  48  33  0.593   8.0  116.1  113.3  2.79
 7        Los Angeles Lakers (8)  46  35  0.568  10.0  118.0  117.6  0.82
 8          Sacramento Kings (9)  45  36  0.556  11.0  116.5  115.2  1.94
 9    Golden State Warriors (10)  45  36  0.556  11.0  117.7  115.1  2.75
 10         Houston Rockets (11)  40  41  0.494  16.0  114.3  113.3  1.07
 11               Utah Jazz (12)  31  50  0.383  25.0  115.7  120.5 -4.22
 12       Memphis Grizzlies (13)  27  54  0.333  29.0  105.8  112.7 -6.52
 13       San Antonio Spurs (14)  21  60  0.259  35.0  112.0  118.9 -6.10
 14  Portland Trail Blazers (15)  21  60  0.259  35.0  106.7  115.3 -7.95,
          Eastern Conference                   W                   L
 0         Atlantic Division   Atlantic Division   Atlantic Division  \
 1       Boston Celtics* (1)                  63                  18
 2       New York Knicks (3)                  49                  32
 3    Philadelphia 76ers (7)                  46                  35
 4        Brooklyn Nets (11)                  32                  49
 5      Toronto Raptors (12)                  25                  56
 6          Central Division    Central Division    Central Division
 7      Milwaukee Bucks* (2)                  49                  32
 8   Cleveland Cavaliers (4)                  48                  33
 9        Indiana Pacers (6)                  46                  35
 10        Chicago Bulls (9)                  39                  42
 11     Detroit Pistons (15)                  14                  67
 12       Southeast Division  Southeast Division  Southeast Division
 13        Orlando Magic (5)                  46                  35
 14           Miami Heat (8)                  45                  36
 15       Atlanta Hawks (10)                  36                  45
 16   Charlotte Hornets (13)                  20                  61
 17  Washington Wizards (14)                  15                  66

                   W/L%                  GB                PS/G
 0    Atlantic Division   Atlantic Division   Atlantic Division  \
 1                 .778                   —               120.4
 2                 .605                14.0               112.7
 3                 .568                17.0               114.7
 4                 .395                31.0               110.7
 5                 .309                38.0               112.5
 6     Central Division    Central Division    Central Division
 7                 .605                   —               119.4
 8                 .593                 1.0               112.7
 9                 .568                 3.0               122.9
 10                .481                10.0               112.2
 11                .173                35.0               110.1
 12  Southeast Division  Southeast Division  Southeast Division
 13                .568                   —               110.4
 14                .556                 1.0               110.0
 15                .444                10.0               118.4
 16                .247                26.0               106.4
 17                .185                31.0               113.6

                   PA/G                 SRS
 0    Atlantic Division   Atlantic Division
 1                109.1               10.87
 2                108.1                4.43
 3                111.9                2.34
 4                113.3               -2.82
 5                118.8               -6.35
 6     Central Division    Central Division
 7                116.4                2.75
 8                110.1                2.25
 9                120.3                2.33
 10               113.6               -1.83
 11               118.9               -8.76
 12  Southeast Division  Southeast Division
 13               108.7                1.18
 14               108.5                1.02
 15               120.1               -1.94
 16               116.9              -10.38
 17               122.9               -9.40  ,
              Western Conference                   W                   L
 0            Northwest Division  Northwest Division  Northwest Division  \
 1    Oklahoma City Thunder* (1)                  56                  25
 2   Minnesota Timberwolves* (2)                  56                  25
 3           Denver Nuggets* (3)                  56                  25
 4                Utah Jazz (12)                  31                  50
 5   Portland Trail Blazers (15)                  21                  60
 6              Pacific Division    Pacific Division    Pacific Division
 7     Los Angeles Clippers* (4)                  51                  30
 8              Phoenix Suns (7)                  48                  33
 9        Los Angeles Lakers (8)                  46                  35
 10         Sacramento Kings (9)                  45                  36
 11   Golden State Warriors (10)                  45                  36
 12           Southwest Division  Southwest Division  Southwest Division
 13        Dallas Mavericks* (5)                  50                  31
 14     New Orleans Pelicans (6)                  49                  32
 15         Houston Rockets (11)                  40                  41
 16       Memphis Grizzlies (13)                  27                  54
 17       San Antonio Spurs (14)                  21                  60

                   W/L%                  GB                PS/G
 0   Northwest Division  Northwest Division  Northwest Division  \
 1                 .691                   —               119.9
 2                 .691                   —               113.1
 3                 .691                   —               114.7
 4                 .383                25.0               115.7
 5                 .259                35.0               106.7
 6     Pacific Division    Pacific Division    Pacific Division
 7                 .630                   —               115.8
 8                 .593                 3.0               116.1
 9                 .568                 5.0               118.0
 10                .556                 6.0               116.5
 11                .556                 6.0               117.7
 12  Southwest Division  Southwest Division  Southwest Division
 13                .617                   —               118.2
 14                .605                 1.0               115.2
 15                .494                10.0               114.3
 16                .333                23.0               105.8
 17                .259                29.0               112.0

                   PA/G                 SRS
 0   Northwest Division  Northwest Division
 1                113.0                6.83
 2                106.3                6.65
 3                109.6                5.18
 4                120.5               -4.22
 5                115.3               -7.95
 6     Pacific Division    Pacific Division
 7                112.3                3.56
 8                113.3                2.79
 9                117.6                0.82
 10               115.2                1.94
 11               115.1                2.75
 12  Southwest Division  Southwest Division
 13               115.4                2.82
 14               110.5                4.68
 15               113.3                1.07
 16               112.7               -6.52
 17               118.9               -6.10  ,
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA
 0    1.0           Indiana Pacers  81  240.3  46.8  92.6  0.505  13.1  35.2  \
 1    2.0          Boston Celtics*  81  241.9  43.8  90.2  0.486  16.5  42.6
 2    3.0   Oklahoma City Thunder*  81  241.5  44.4  89.2  0.498  13.3  34.2
 3    4.0         Milwaukee Bucks*  81  241.5  43.3  88.7  0.488  14.3  38.2
 4    5.0            Atlanta Hawks  81  242.2  43.1  92.5  0.466  13.7  37.7
 5    6.0        Dallas Mavericks*  81  240.3  43.2  89.6  0.483  14.7  39.5
 6    7.0       Los Angeles Lakers  81  242.2  43.6  87.5  0.498  11.8  31.4
 7    8.0    Golden State Warriors  81  241.9  43.7  91.6  0.477  14.8  38.9
 8    9.0         Sacramento Kings  81  242.2  43.3  91.0  0.476  14.4  39.3
 9   10.0             Phoenix Suns  81  241.2  42.4  86.1  0.492  12.4  32.6
 10  11.0    Los Angeles Clippers*  81  240.3  42.4  86.5  0.490  12.7  33.1
 11  12.0                Utah Jazz  81  241.5  41.9  89.9  0.466  12.9  36.5
 12  13.0     New Orleans Pelicans  81  240.3  42.5  87.4  0.486  12.4  32.5
 13  14.0          Denver Nuggets*  81  240.3  44.0  88.8  0.496  11.7  31.2
 14  15.0       Philadelphia 76ers  81  241.2  41.5  89.3  0.465  12.1  33.2
 15  16.0          Houston Rockets  81  242.2  41.7  90.8  0.459  12.7  36.1
 16  17.0       Washington Wizards  81  240.6  42.9  91.2  0.470  12.4  35.5
 17  18.0  Minnesota Timberwolves*  81  241.5  41.3  85.2  0.485  12.7  32.8
 18  19.0          New York Knicks  81  240.3  41.2  88.7  0.465  13.2  35.9
 19  20.0      Cleveland Cavaliers  81  241.5  41.7  87.1  0.479  13.5  36.8
 20  21.0          Toronto Raptors  81  241.5  42.3  89.7  0.472  11.5  33.1
 21  22.0            Chicago Bulls  81  243.4  42.0  89.4  0.470  11.5  32.1
 22  23.0        San Antonio Spurs  81  241.9  41.8  90.7  0.461  12.6  36.4
 23  24.0            Brooklyn Nets  81  241.5  40.8  89.2  0.457  13.3  36.7
 24  25.0            Orlando Magic  81  241.2  40.4  84.9  0.476  11.0  31.3
 25  26.0          Detroit Pistons  81  240.9  41.0  88.2  0.464  11.1  31.7
 26  27.0               Miami Heat  81  240.9  39.8  85.6  0.464  12.5  33.7
 27  28.0   Portland Trail Blazers  81  242.5  39.5  89.6  0.440  11.5  33.1
 28  29.0        Charlotte Hornets  81  240.6  39.9  86.9  0.459  12.0  33.9
 29  30.0        Memphis Grizzlies  81  241.2  38.3  88.0  0.435  13.1  37.8
 30   NaN           League Average  81  241.4  42.2  88.9  0.474  12.8  35.1

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.372  ...  0.782  10.1  31.4  41.4  30.6  7.7  5.9  12.9  21.4  122.9
 1   0.387  ...  0.808  10.7  35.6  46.3  26.9  6.8  6.5  11.9  16.2  120.4
 2   0.388  ...  0.825   8.8  33.1  41.8  27.0  8.5  6.6  12.6  18.9  119.9
 3   0.374  ...  0.772   9.4  34.9  44.3  26.7  6.8  5.0  12.9  19.2  119.4
 4   0.364  ...  0.796  12.5  32.3  44.8  26.6  7.5  4.5  13.5  18.6  118.4
 5   0.371  ...  0.758   9.7  33.3  43.0  25.8  6.9  5.0  12.5  18.3  118.2
 6   0.377  ...  0.780   8.3  34.9  43.2  28.5  7.3  5.6  14.0  15.7  118.0
 7   0.380  ...  0.779  12.1  34.6  46.8  29.2  6.9  4.6  14.4  19.6  117.7
 8   0.366  ...  0.744  10.8  33.1  43.9  28.3  7.6  4.1  13.1  19.9  116.5
 9   0.380  ...  0.808  10.1  34.1  44.2  27.0  7.4  6.0  14.9  17.9  116.1
 10  0.383  ...  0.824  10.0  32.9  42.9  25.6  7.7  5.0  13.2  18.6  115.8
 11  0.353  ...  0.832  12.2  33.2  45.4  27.3  6.6  5.6  15.6  18.6  115.7
 12  0.382  ...  0.771  10.4  33.6  44.0  27.0  8.3  4.7  12.9  18.4  115.2
 13  0.375  ...  0.760  10.7  33.6  44.3  29.4  7.1  5.6  12.6  18.2  114.7
 14  0.364  ...  0.826  11.0  31.8  42.8  24.8  8.5  6.0  12.0  20.4  114.7
 15  0.353  ...  0.777  11.4  33.9  45.3  24.7  7.8  4.5  12.7  20.9  114.3
 16  0.348  ...  0.763   9.2  31.9  41.1  27.8  7.6  5.1  14.0  20.0  113.6
 17  0.387  ...  0.776   9.4  34.4  43.7  26.7  7.9  6.1  14.0  18.8  113.1
 18  0.369  ...  0.781  12.6  32.4  45.1  24.3  7.5  4.1  13.1  17.7  112.7
 19  0.366  ...  0.765   9.8  33.5  43.3  28.0  7.4  4.7  13.6  17.6  112.7
 20  0.348  ...  0.754  10.8  31.8  42.7  28.5  7.8  4.8  13.9  18.4  112.5
 21  0.359  ...  0.791  11.1  32.7  43.8  25.0  7.7  4.8  12.2  18.8  112.2
 22  0.346  ...  0.783  10.3  33.8  44.1  29.8  7.1  6.4  15.2  17.2  112.0
 23  0.363  ...  0.756  11.5  32.6  44.1  25.7  6.8  5.2  13.1  18.5  110.7
 24  0.352  ...  0.757  10.5  31.8  42.3  24.6  8.1  5.2  14.7  19.8  110.4
 25  0.350  ...  0.786  10.5  32.9  43.4  25.6  6.5  4.7  15.2  20.7  110.1
 26  0.371  ...  0.818   9.3  33.0  42.2  25.8  7.5  3.4  12.6  17.3  110.0
 27  0.348  ...  0.791  12.5  30.1  42.6  23.2  7.6  4.3  15.2  20.2  106.7
 28  0.353  ...  0.786   9.3  30.9  40.2  24.7  6.8  4.5  13.8  18.0  106.4
 29  0.347  ...  0.765  10.9  31.7  42.6  24.7  8.2  6.2  15.1  19.1  105.8
 30  0.366  ...  0.784  10.5  33.0  43.5  26.7  7.5  5.1  13.6  18.8  114.2

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA
 0    1.0  Minnesota Timberwolves*  81  241.5  38.9  86.8  0.448  11.4  32.3  \
 1    2.0          New York Knicks  81  240.3  40.2  85.5  0.470  12.6  34.3
 2    3.0               Miami Heat  81  240.9  40.2  86.0  0.468  13.0  36.8
 3    4.0            Orlando Magic  81  241.2  39.9  84.1  0.475  11.6  32.2
 4    5.0          Boston Celtics*  81  241.9  41.4  91.5  0.453  12.9  36.7
 5    6.0          Denver Nuggets*  81  240.3  40.6  87.8  0.462  11.2  31.5
 6    7.0      Cleveland Cavaliers  81  241.5  40.5  87.5  0.463  12.5  33.7
 7    8.0     New Orleans Pelicans  81  240.3  40.4  87.3  0.463  13.6  38.9
 8    9.0       Philadelphia 76ers  81  241.2  40.6  86.6  0.469  12.0  33.7
 9   10.0    Los Angeles Clippers*  81  240.3  41.5  88.7  0.468  12.9  35.4
 10  11.0        Memphis Grizzlies  81  241.2  41.2  86.9  0.474  13.4  35.4
 11  12.0   Oklahoma City Thunder*  81  241.5  40.7  89.2  0.456  13.5  37.2
 12  13.0          Houston Rockets  81  242.2  40.8  87.9  0.464  12.4  35.4
 13  14.0             Phoenix Suns  81  241.2  42.1  90.8  0.463  13.1  36.1
 14  15.0            Brooklyn Nets  81  241.5  41.6  88.4  0.471  13.0  34.8
 15  16.0            Chicago Bulls  81  243.4  41.0  86.9  0.472  14.6  39.5
 16  17.0    Golden State Warriors  81  241.9  42.1  90.4  0.465  13.3  37.0
 17  18.0         Sacramento Kings  81  242.2  41.8  86.6  0.482  13.2  33.7
 18  19.0   Portland Trail Blazers  81  242.5  42.5  86.6  0.491  11.7  33.3
 19  20.0        Dallas Mavericks*  81  240.3  42.8  90.3  0.474  13.1  35.6
 20  21.0         Milwaukee Bucks*  81  241.5  43.2  92.0  0.470  12.6  35.3
 21  22.0        Charlotte Hornets  81  240.6  43.3  87.6  0.495  13.6  36.2
 22  23.0       Los Angeles Lakers  81  242.2  44.5  93.8  0.474  14.3  37.9
 23  24.0          Toronto Raptors  81  241.5  44.7  91.2  0.490  13.7  36.3
 24  25.0          Detroit Pistons  81  240.9  43.6  89.0  0.489  12.0  32.7
 25  26.0        San Antonio Spurs  81  241.9  45.0  92.3  0.488  12.7  34.0
 26  27.0            Atlanta Hawks  81  242.2  44.4  90.0  0.493  13.9  36.4
 27  28.0           Indiana Pacers  81  240.3  44.6  89.8  0.497  10.7  29.2
 28  29.0                Utah Jazz  81  241.5  44.6  91.5  0.487  14.8  37.4
 29  30.0       Washington Wizards  81  240.6  46.0  93.0  0.495  12.2  34.0
 30   NaN           League Average  81  241.4  42.2  88.9  0.474  12.8  35.1

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.352  ...  0.781  10.2  31.3  41.6  24.4  7.4  4.5  14.2  19.8  106.3
 1   0.367  ...  0.763  10.2  30.4  40.6  25.6  6.6  5.3  13.2  19.1  108.1
 2   0.354  ...  0.779   9.2  33.6  42.8  26.5  6.6  4.8  13.7  18.9  108.5
 3   0.360  ...  0.778   8.9  31.0  39.9  24.0  8.1  4.6  15.0  20.9  108.7
 4   0.352  ...  0.766  11.1  32.3  43.4  24.8  6.2  3.7  12.0  17.3  109.1
 5   0.357  ...  0.772  10.8  31.4  42.3  25.8  7.0  4.8  12.4  17.9  109.6
 6   0.370  ...  0.790  10.0  32.6  42.6  25.1  7.7  5.0  13.6  18.8  110.1
 7   0.349  ...  0.782  10.1  32.2  42.4  26.7  6.5  5.2  14.2  18.4  110.5
 8   0.355  ...  0.792  11.1  33.4  44.5  26.2  6.1  6.1  14.7  18.6  111.9
 9   0.364  ...  0.779  11.0  31.0  42.0  26.3  7.3  4.6  13.0  18.8  112.3
 10  0.379  ...  0.778  10.6  34.9  45.5  26.5  8.1  6.6  15.1  18.8  112.7
 11  0.363  ...  0.789  11.8  32.9  44.7  27.0  7.1  5.1  15.7  18.9  113.0
 12  0.350  ...  0.766  10.6  34.2  44.8  24.4  7.2  5.9  13.8  19.7  113.3
 13  0.364  ...  0.773  10.9  30.4  41.4  26.3  8.4  4.5  12.6  19.7  113.3
 14  0.373  ...  0.808  10.2  33.9  44.1  25.4  6.9  5.0  12.6  18.3  113.3
 15  0.370  ...  0.776  10.0  33.2  43.3  27.9  6.8  4.9  13.9  18.8  113.6
 16  0.358  ...  0.789  10.8  32.0  42.9  26.7  7.7  5.0  12.9  17.9  115.1
 17  0.391  ...  0.800   8.9  33.4  42.4  27.0  7.3  4.5  13.8  18.3  115.2
 18  0.350  ...  0.792  10.6  33.2  43.7  27.1  8.9  6.4  14.3  17.9  115.3
 19  0.368  ...  0.769  10.9  34.0  44.9  27.4  7.4  4.0  13.7  20.4  115.4
 20  0.357  ...  0.805  10.3  33.7  44.0  26.4  7.0  4.2  12.0  19.2  116.4
 21  0.376  ...  0.796  10.6  34.8  45.4  28.7  7.1  4.9  13.6  17.6  116.9
 22  0.376  ...  0.795  10.9  33.2  44.1  28.3  8.2  4.8  13.3  19.8  117.6
 23  0.378  ...  0.787  11.2  34.0  45.2  28.6  7.2  5.8  13.8  18.2  118.8
 24  0.369  ...  0.800   9.6  33.4  43.0  27.0  8.9  6.0  12.4  17.8  118.9
 25  0.374  ...  0.784  10.5  34.9  45.4  28.1  9.0  4.7  13.4  18.0  118.9
 26  0.382  ...  0.792  10.6  33.6  44.2  28.1  7.8  5.6  14.1  19.4  120.1
 27  0.365  ...  0.786  11.0  32.5  43.5  24.6  6.6  5.4  13.9  18.4  120.3
 28  0.396  ...  0.771  11.0  31.3  42.2  29.7  8.6  6.4  12.3  19.3  120.5
 29  0.360  ...  0.778  12.1  36.8  49.0  29.0  8.0  5.9  14.0  18.0  122.9
 30  0.366  ...  0.784  10.5  33.0  43.5  26.7  7.5  5.1  13.6  18.8  114.2

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA
 0    1.0           Indiana Pacers  81  19465  3790  7499  0.505  1063  2855  \
 1    2.0          Boston Celtics*  81  19590  3550  7307  0.486  1335  3450
 2    3.0   Oklahoma City Thunder*  81  19565  3599  7227  0.498  1076  2771
 3    4.0         Milwaukee Bucks*  81  19565  3508  7183  0.488  1156  3095
 4    5.0            Atlanta Hawks  81  19615  3490  7495  0.466  1113  3056
 5    6.0        Dallas Mavericks*  81  19465  3503  7255  0.483  1189  3203
 6    7.0       Los Angeles Lakers  81  19615  3532  7090  0.498   958  2543
 7    8.0    Golden State Warriors  81  19590  3537  7421  0.477  1197  3148
 8    9.0         Sacramento Kings  81  19615  3510  7368  0.476  1165  3185
 9   10.0             Phoenix Suns  81  19540  3435  6977  0.492  1004  2642
 10  11.0    Los Angeles Clippers*  81  19465  3432  7004  0.490  1028  2682

In [44]:
type(url_data)

list

In [45]:
len(url_data)

13

In [46]:
url_data[0]

         Eastern Conference   W   L   W/L%    GB   PS/G   PA/G    SRS
0       Boston Celtics* (1)  63  18  0.778     —  120.4  109.1  10.87
1      Milwaukee Bucks* (2)  49  32  0.605  14.0  119.4  116.4   2.75
2       New York Knicks (3)  49  32  0.605  14.0  112.7  108.1   4.43
3   Cleveland Cavaliers (4)  48  33  0.593  15.0  112.7  110.1   2.25
4         Orlando Magic (5)  46  35  0.568  17.0  110.4  108.7   1.18
5        Indiana Pacers (6)  46  35  0.568  17.0  122.9  120.3   2.33
6    Philadelphia 76ers (7)  46  35  0.568  17.0  114.7  111.9   2.34
7            Miami Heat (8)  45  36  0.556  18.0  110.0  108.5   1.02
8         Chicago Bulls (9)  39  42  0.481  24.0  112.2  113.6  -1.83
9        Atlanta Hawks (10)  36  45  0.444  27.0  118.4  120.1  -1.94
10       Brooklyn Nets (11)  32  49  0.395  31.0  110.7  113.3  -2.82
11     Toronto Raptors (12)  25  56  0.309  38.0  112.5  118.8  -6.35
12   Charlotte Hornets (13)  20  61  0.247  43.0  106.4  116.9 -10.38
13  Washington Wizards (14)  15  66  0.185  48.0  113.6  122.9  -9.40
14     Detroit Pistons (15)  14  67  0.173  49.0  110.1  118.9  -8.76

In [47]:
type(url_data[0])

pandas.core.frame.DataFrame

In [48]:
df4=url_data[0]

In [49]:
df4

         Eastern Conference   W   L   W/L%    GB   PS/G   PA/G    SRS
0       Boston Celtics* (1)  63  18  0.778     —  120.4  109.1  10.87
1      Milwaukee Bucks* (2)  49  32  0.605  14.0  119.4  116.4   2.75
2       New York Knicks (3)  49  32  0.605  14.0  112.7  108.1   4.43
3   Cleveland Cavaliers (4)  48  33  0.593  15.0  112.7  110.1   2.25
4         Orlando Magic (5)  46  35  0.568  17.0  110.4  108.7   1.18
5        Indiana Pacers (6)  46  35  0.568  17.0  122.9  120.3   2.33
6    Philadelphia 76ers (7)  46  35  0.568  17.0  114.7  111.9   2.34
7            Miami Heat (8)  45  36  0.556  18.0  110.0  108.5   1.02
8         Chicago Bulls (9)  39  42  0.481  24.0  112.2  113.6  -1.83
9        Atlanta Hawks (10)  36  45  0.444  27.0  118.4  120.1  -1.94
10       Brooklyn Nets (11)  32  49  0.395  31.0  110.7  113.3  -2.82
11     Toronto Raptors (12)  25  56  0.309  38.0  112.5  118.8  -6.35
12   Charlotte Hornets (13)  20  61  0.247  43.0  106.4  116.9 -10.38
13  Washington Wizards (14)  15  66  0.185  48.0  113.6  122.9  -9.40
14     Detroit Pistons (15)  14  67  0.173  49.0  110.1  118.9  -8.76

In [51]:
df4.to_csv('basketball.csv',index=False)